{% load static %}

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->


  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <!-- ################################################################################################ -->
        <h1><a href="/"> SHOPPING</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          <li><a class="drop" href="#">filter</a>
          <ul>
            <li><a href="#">level 2</a></li>
            <li><a class="drop" href="#">level 2 + Drop</a>
            <ul>
            <li><a href="#">level 3</a></li>
            <li><a href="#">level 3</a></li>
            <li><a href="#">level 3</a></li>
          </ul>
            </li>
          </ul>

        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>

</div>
{% block content %}
{% endblock %}
</body>
</html>