{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="{% static 'cr/style.css' %}" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
    <meta name="robots" content="noindex,follow" />
  </head>
  <body>
    <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
        Shopping Bag
      </div>

      <!-- Product #1 -->
      <div class="item">
        <div class="buttons">
          <span><i class="fa fa-trash"></i></span>
        </div>
  {% for i in ci %}

        <div class="image">
          <img src="{{i.prodt.get.url}}" alt="{{i.prodt.get.name}}" />
        </div>

        <div class="description">
          <span>ID:{{i.prodt.id}}</span>
          <span>price:{{i.prodt.price}}</span>
          <span>White</span>
        </div>
  {% endfor %}

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="{% static 'cr/plus.svg' %}" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="{% static 'cr/minus.svg' %}" alt="" />
          </button>
        </div>

        <div class="total-price">$549</div>
      </div>

      <!-- Product #2 -->

  </body>
</html>
{% endblock %}
