{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Sislaf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div  style="background-image:url('{% static 'hm/images/demo/backgrounds/06.jpg' %}');">
  <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">QUALITY FOOD ITEMS</h3>
      <p>Register with us and have wuality food items at your door step.</p>
      <footer>

      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<div class="category">
      {% for i in ct %}
      <b style="color:white">
        {{i.get_url}}<br>


      </b>
      {% endfor %}

    </div>

<div class="wrapper row3">
  <main class="hoc container clear">


    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        {% for i in pr %}
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="{{i.img.url}}" alt="" style="width:20000px;height:200px;"></a>

            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatechars:5}}</p>
               <p>{{i.price}} Rs</p>
              <p>stock left:{{i.stock}} </p>
            </figcaption>
          </figure>
        </li>
        {% endfor %}






      </ul>
    </section>
    <hr class="btmspace-80">

    <div class="clear"></div>
  </main>
</div>

</div>

<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
{% endblock %}
